@import "../helium/helium";

@mixin bookstore {
  @include helium;

  /* Basic */
  --dark-purple: #0A2044;
  --main-menu-purple: #0A2044;
  --main-background: #F1F3F9;
  --turquoise: #4DD0E1;
  --light-turquoise: #6aecff;

  --border-color: var(--turquoise);
  --dim-color: #F1F3F9;
  --primary-color: var(--turquoise);
  --primary-color_rgb: 77, 208, 225;
  --secondary-color: #0A2044;
  --secondary-color_rgb: 10, 32, 68;

  --secondary-contrast-text-color: var(--turquoise);

  /* Common */
  --border-dim-focused-color: var(--turquoise);
  --primary-dim-color: var(--turquoise);

  --primary-color-shade-1: var(--light-turquoise);
  --primary-color-shade-2: var(--light-turquoise);

  /* Button */
  --button-secondary-color: #E5E5E5;


  /* Calendar */
  --calendar-month-day-dragemphasis-background-color: #E5E5E5;
  --calendar-week-event-content-border-color: var(--turquoise);

  /* CheckBox */
  --checkbox-border-color: var(--turquoise);
  --checkbox-focused-border-color: var(--turquoise);
  --checkbox-read-only-checked-focused-border-color: var(--turquoise);
  --checkbox-read-only-focused-border-color: var(--turquoise);

  /* DateField */
  --datefield-calendarpanel-day-today-border-color: var(--turquoise);
  --datefield-calendarpanel-month-color: #E5E5E5;
  --datefield-calendarpanel-weekdays-color: #E5E5E5;

  /* DatePicker */
  --datepicker-border-color: var(--turquoise);

  /* FileUpload */
  --fileupload-dropzone-prompt-border-color: var(--turquoise);

  /* Main Window */
  --maintabsheet-tabcontainer-background-color: #E5E5E5;

  /* Notification */
  --notification-system-background-color: #E5E5E5;

  /* SideMenu */
  --drawer-background-color: var(--main-menu-purple);
  --drawer-text-color: var(--text-contrast-color);
  --drawer-sidemenu-submenu-background-color: var(--main-menu-purple);

  --sidemenu-background-color: var(--main-menu-purple);
  --sidemenu-text-color: var(--text-contrast-color);

  --sidemenu-title-color: var(--sidemenu-text-color);
  --sidemenu-title-background-color: var(--dark-purple);

  --sidemenu-item-focused-color: var(--turquoise);
  --sidemenu-item-selected-color: var(--turquoise);
  --sidemenu-item-selected-background-color: none;

  --sidemenu-item-badge-color: var(--secondary-contrast-text-color);
  --sidemenu-item-badge-background-color: var(--secondary-color);


  --sidemenu-collapsible-submenu-background-color: none;

  --sidemenu-collapsible-controls-panel-background-color: var(--dark-purple);

  --sidemenu-collapsible-action-button-color: var(--white);
  --sidemenu-collapsible-action-button-hover-background-color: var(--primary-color);
  --sidemenu-collapsible-action-button-active-background-color: var(--primary-color);

  --groupbox-collapsed-caption-color: var(--white);

  //--panel-background-color: var(--main-background);
  --panel-background-color: var(--white);


  /* Table */
  --table-outer-border-color: var(--turquoise);

  /* TextField */
  --textfield-read-only-focused-border-color: var(--turquoise);

}
