@import "bookstore-defaults";
@import "addons";
@import "bookstore";

.bookstore {
  @include addons;
  @include bookstore;


  /****************************************************************************************************/
  // Filter Component
  /****************************************************************************************************/

  .jmix-filter {
    background: #FFFFFF;
    border: none;
    color: #FFFFFF;
  }

  /****************************************************************************************************/
  // Login Screen
  /****************************************************************************************************/

  .jmix-main-singlewindow {
    background-color: var(--main-background);
  }

  .jmix-login-main-layout {
    background: var(--dark-purple);
  }

  .jmix-login-panel {
    border: none;
    background: white;
  }

  .login-logo {
    margin-top: -250px;
    margin-bottom: 125px;
  }



  /****************************************************************************************************/
  // Side Menu
  /****************************************************************************************************/

  .jmix-drawer .jmix-drawer-header {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  // hide button to close a screen in the SINGLE app window mode (jmix.ui.app-window-mode=SINGLE)
  .v-button-jmix-closetab-button {
    display: none;
  }




  .jmix-groupbox {
    background: #FFFFFF;
    border: none;
  }



  /****************************************************************************************************/
  // System Notifications
  /****************************************************************************************************/

  .v-Notification.system {

    .v-Notification-caption, .v-Notification-description {

      color: #FFFFFF !important;
    }
  }

  .bookstore-main-screen-logo {
    margin-bottom: 100px;
  }


  .position-badge {
    border-radius: 20px;
    padding: 10px;
    margin-right:10px;

    .v-icon {
      margin-right: 5px;
    }
  }


  .jmix-logout-button {
    margin-top: 7px;
    background:none;
    padding:0 16px !important;
    height:34px !important;
  }

  .jmix-logout-button:hover:not(.v-disabled) {
    background:none;
    color: var(--dark-turquoise);
  }

  .jmix-notifications-indicator {
    background:none;
  }

  .jmix-notifications-indicator:hover:not(.v-disabled) {
    background:none;
    color: var(--dark-turquoise);

    .jmix-notifications-indicator-counter {
      background:none;
      color: var(--dark-turquoise);
    }
  }


  .jmix-notifications-indicator-counter {
    background:none;
    color: var(--text-main-color);
  }

  .jmix-tasks-indicator {
    background:none;
    cursor: pointer;
  }

  .jmix-tasks-indicator:hover:not(.v-disabled) {
    background:none;
    cursor: pointer;
    color: var(--dark-turquoise);

    .jmix-tasks-indicator-counter {
      background:none;
      cursor: pointer;
      color: var(--dark-turquoise);
    }
  }


  .jmix-tasks-indicator-counter {
    background:none;
    cursor: pointer;
    color: var(--text-main-color);
  }

  .jmix-userindicator {
    //margin-bottom: -10px;
  }

  .position-red {
    color: #DF6679;
    background-color: #FFC8D0;
  }
  .user-avatar-border-position-red {
    border-color: #FFC8D0 !important;
  }
  .position-dark-red {
    color: white;
    background-color: #DF6679;
  }
  .user-avatar-border-position-dark-red {
    border-color: #FFC8D0 !important;
  }
  .position-green {
    color: #23BA75;
    background-color: #BAF2D8;
  }
  .user-avatar-border-position-green {
    border-color: #BAF2D8 !important;
  }
  .position-yellow {
    color: #E3A023;
    background-color: #FFE2AD;
  }
  .user-avatar-border-position-yellow {
    border-color: #FFE2AD !important;
  }
  .position-purple {
    color: #6E64B9;
    background-color: #D6D0FF;
  }
  .user-avatar-border-position-purple {
    border-color: #D6D0FF !important;
  }
  .position-dark-purple {
    color: white;
    background-color: #6E64B9;
  }
  .user-avatar-border-position-dark-purple {
    border-color: #6E64B9 !important;
  }
  .position-blue {
    color: #249FAF;
    background-color: #BAF7FF;
  }
  .user-avatar-border-position-blue {
    border-color: #BAF7FF !important;
  }

  .top-menu {
    margin-right: 30px;
  }



  .jmix-app-workarea {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}


.user-avatar {
  margin-left: 10px;
  border-radius: 100px !important;
  border: 3px solid var(--turquoise);
}


.v-table .v-table-row.jmix-tasks-table-unread-notification,
.v-table .v-table-row-odd.jmix-tasks-table-unread-notification {
  font-weight: 600;
}

.jmix-tasks-table-unread-notification-indicator {
  color: var(--success-color-shade-1, #2a8463);;
}

.jmix-tasks-indicator {
  background-color: var(--dim-color, #f2f2f2);
}

.jmix-tasks-indicator:hover:not(.v-disabled) {
  background-color: var(--dim-color-shade-1, #cecece);
  cursor: pointer;
}

.jmix-tasks-indicator-counter {
  padding: 1px 5px;
}

.jmix-tasks-indicator-counter-empty {
  background-color: var(--dim-color-shade-1, #cecece);
}

.jmix-tasks-indicator-counter-has-new {
  background-color: var(--success-color, #36ab80);
  color: var(--text-contrast-color, #fff);
}

.jmix-tasks-indicator:hover:not(.v-disabled) .jmix-tasks-indicator-counter-empty {
  background-color: var(--dim-color, #f2f2f2);
}

.jmix-tasks-indicator:hover:not(.v-disabled) .jmix-tasks-indicator-counter-has-new {
  background-color: var(--success-color-shade-1, #2a8463);
}

.jmix-drawer.jmix-drawer-collapsed.expand-on-hover:not(:hover) .jmix-tasks-indicator .v-spacing,
.jmix-drawer.jmix-drawer-collapsed.expand-on-hover:not(:hover) .v-slot-jmix-tasks-indicator-caption {
  display: none;
}

.jmix-drawer.jmix-drawer-collapsed.expand-on-hover:not(:hover) .jmix-tasks-indicator {
  padding-left: 0;
  padding-right: 0;
}

.jmix-drawer.jmix-drawer-collapsed.expand-on-hover:not(:hover) .jmix-tasks-indicator > .v-expand {
  text-align: center;
  padding-left: 0 !important;
}

.jmix-app-menubar .jmix-tasks-indicator {
  background-color: transparent;
  color: var(--menubar-text-color, #c8d6e5);
  border-radius: 6px;
}

.jmix-app-menubar > .v-expand > .v-slot-jmix-tasks-indicator > .jmix-tasks-indicator {
  padding-top: 0;
  padding-bottom: 0;
  height: 100% !important;
}

.jmix-app-menubar .jmix-tasks-indicator-counter {
  border-radius: 6px;
}

.jmix-app-menubar .jmix-tasks-indicator:hover:not(.v-disabled) {
  background-color: var(--menubar-action-button-hover-background-color, #4f5c78);
  color: var(--menubar-action-button-hover-text-color, #fff)
}

.jmix-app-menubar .jmix-tasks-indicator-counter-empty {
  background-color: var(--menubar-text-color, #c8d6e5);
  color: var(--menubar-background-color, #374d66);
}

.jmix-app-menubar .jmix-tasks-indicator:hover:not(.v-disabled) .jmix-tasks-indicator-counter-empty {
  background-color: var(--dim-color, #f2f2f2);
  color: var(--menubar-action-button-hover-background-color, #4f5c78);
}

.jmix-app-menubar .jmix-tasks-indicator:hover:not(.v-disabled) .jmix-tasks-indicator-counter-has-new {
  background-color: var(--success-color, #36ab80);
}

@-webkit-keyframes anim-pulse{
  0%   {
    opacity: 0 ;
    -webkit-transform : scale(.5);
  }
  10% {
    opacity: 1 ;
  }

  90% {
    opacity: 0 ;
  }

  100% {
    -webkit-transform : scale(1.25)
  }
}


.core {
  fill:red;
}

.ring {
  opacity: 0;
  stroke: red;
  -webkit-transform-origin: center;
  -webkit-animation: anim-pulse 2s 1s infinite;
}

.wrapper {
  float: left;
  width: 25%;
}

.possible-users {
  width: 100%;

  td {
    border-radius: 3px;
    padding:10px;
  }
}

.possible-role {
  width: 60%;
}

.possible-user-password::before {
  font-family: FontAwesome;
  content: '\f023';
  padding-right: 10px;
}
.possible-user::before {
  padding-right: 10px;
  font-family: FontAwesome;
  content: '\f007';
}
.possible-role::before {
  padding-right: 10px;
  font-family: FontAwesome;
  content: '\f0c0';
}
