@import "bookstore-defaults";
@import "addons";
@import "bookstore";

.bookstore {
  @include addons;
  @include bookstore;


  /****************************************************************************************************/
  // Filter Component
  /****************************************************************************************************/

  .jmix-filter {
    background: #FFFFFF;
    border: none;
    color: #FFFFFF;
  }

  /****************************************************************************************************/
  // Login Screen
  /****************************************************************************************************/

  .jmix-main-singlewindow {
    background-color: var(--main-background);
  }

  .jmix-login-main-layout {
    background: var(--dark-purple);
  }

  .jmix-login-panel {
    border: none;
    background: white;
  }

  .login-logo {
    margin-top: -250px;
    margin-bottom: 125px;
  }



  /****************************************************************************************************/
  // Side Menu
  /****************************************************************************************************/

  .jmix-drawer .jmix-drawer-header {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  // hide button to close a screen in the SINGLE app window mode (jmix.ui.app-window-mode=SINGLE)
  .v-button-jmix-closetab-button {
    display: none;
  }




  .jmix-groupbox {
    background: #FFFFFF;
    border: none;
  }



  /****************************************************************************************************/
  // System Notifications
  /****************************************************************************************************/

  .v-Notification.system {

    .v-Notification-caption, .v-Notification-description {

      color: #FFFFFF !important;
    }
  }

  .bookstore-main-screen-logo {
    margin-bottom: 100px;
  }


  .position-badge {
    border-radius: 20px;
    padding: 10px;
    margin-top:10px;
  }

  .position-red {
    color: #DF6679;
    background-color: #FFC8D0;
  }

  .user-avatar-border-position-red {
    border-color: #FFC8D0 !important;
  }
  .position-green {
    color: #23BA75;
    background-color: #BAF2D8;
  }
  .user-avatar-border-position-green {
    border-color: #BAF2D8 !important;
  }
  .position-yellow {
    color: #E3A023;
    background-color: #FFE2AD;
  }
  .user-avatar-border-position-yellow {
    border-color: #FFE2AD !important;
  }
  .position-purple {
    color: #6E64B9;
    background-color: #D6D0FF;
  }
  .user-avatar-border-position-purple {
    border-color: #D6D0FF !important;
  }
  .position-blue {
    color: #249FAF;
    background-color: #BAF7FF;
  }
  .user-avatar-border-position-blue {
    border-color: #BAF7FF !important;
  }

}


.user-avatar {
  margin-left: 10px;
  border-radius: 100px !important;
  border: 3px solid var(--turquoise);
}
